<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="place" >
      <ion-buttons slot="start">
        <ion-back-button [defaultHref]="'/places/tabs/offers/'+ place.id"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Edit Offer</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onEdit()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Short Description</ion-label>
            <ion-textarea formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!form.get('description').valid && form.get('description').touched" >
        <ion-col size-sm="6" offset-sm="3">
          <p class="error">Description must be 1 to 150 characters.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Price</ion-label>
            <ion-input type="number" formControlName="price"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-input formControlName="dateFrom" [value]="dateValue2" placeholder="Available from" ></ion-input>
            <ion-button fill="clear" id="open-date-input-2">
              <ion-icon icon="calendar"></ion-icon>
            </ion-button>
            <ion-popover trigger="open-date-input-2" show-backdrop="false" [dismissOnSelect]="true">
              <ng-template>
                <ion-datetime
                  #popoverDatetime2
                  presentation="date"
                  (ionChange)="dateValue2 = formatDate(popoverDatetime2.value)"
                  formControlName="dateFrom"
                ></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-input formControlName="dateTo" [value]="dateValue1" placeholder="Available till"></ion-input>
            <ion-button fill="clear" id="open-date-input-1">
              <ion-icon icon="calendar"></ion-icon>
            </ion-button>
            <ion-popover trigger="open-date-input-1" show-backdrop="false" [dismissOnSelect]="true">
              <ng-template>
                <ion-datetime
                  #popoverDatetime1
                  presentation="date"
                  (ionChange)="dateValue1 = formatDate(popoverDatetime1.value)"

                ></ion-datetime>
              </ng-template>
            </ion-popover>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>

  </form>

</ion-content>
