<ion-item >
  <ion-thumbnail slot="start">
    <img [src]="offer.imageUrl" />
  </ion-thumbnail>
  <ion-label> <h2>{{ offer.title }}</h2>
    <div class="offer-detals">
      <ion-icon slot="start" name="calendar" color="tertiary"></ion-icon>
      <ion-text color="primary" class="space-left-sm">
        {{getDate() | date}}
      </ion-text>
      <span class="space-left-sm">to</span>
      <ion-text color="primary" class="space-left-sm">
        {{getDate() | date}}
      </ion-text>
    </div>
  </ion-label>


</ion-item>
