.offer-detals{
  display: flex;
  align-items: center;
  margin-top: 4px;
  font-size: 12px;
  .space-left{
    margin-left: 10px;
  }
  .space-left-sm{
    margin-left: 6px;
  }
}

h1{
  font-size: 18px;
  border: 1px solid var(--ion-color-primary);
  padding: 6px;
  color: var(--ion-color-primary);
  border-radius: 5px;
}
